.users-view[data-v-c22da48c]{padding:2rem 0}.table[data-v-c22da48c]{background:transparent}.table th[data-v-c22da48c]{border-bottom:1px solid rgba(255,255,255,.3)}.table td[data-v-c22da48c]{border-bottom:1px solid rgba(255,255,255,.1)}
